#top{
		position: absolute;
		top:0;left:0;right: 0;bottom: 0;
	}
	div.header{max-width: 1450px;
	background-color:  #404040;
display: block;
height:12%;
width:100%;
position:relative;
padding:30px;
margin: 0px;
 overflow: hidden;

 }
 h1{display:inline-block;
 	position: absolute;
 left: 60px;
 color: #ffffff;
 }
img{ display: inline-block;
position: absolute;
left:30px ;
top:10px;
}
 div.form{ position: absolute;  right:20px;top:20px 	
 	font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    width: 300px;
    height:50px;

   
 }
  
  #love{max-width: 1700px;
  	background-image: url(backimg.gif);
  	height: 850px; width: 100%;
  	margin: 0px;
  	left: 0px; right: 0px;
  }
.content{position: absolute;
	right:400px;
	top:200px;
width:40%
height:95%;
background-color:#ffffff;
padding:20px;
margin: 0px;
border-radius: 15px;
opacity: 0.8;
}
.form input[type=text]{padding: 5px 8px;
	width: 140px;	height:8px;
    border-radius: 0px;
 font-size: 8px;
}

.form input [type=password]{padding: 5px 8px;
	width: 20px;	height:8px;
    border-radius: 0px;

}
.form input[type=button]{
height: 20px; width:10;	background-color: #ffffff;
border-radius: 1px;
}





.form1 input[type=text],.form1 input[type=password]{ border: 2 px solid black;
	border-radius: 20px;
	box-sizing: border-box;
	width:350px;
	padding: 10px 15px;
    margin: 8px 0;}

.content p{ font-size: 30px;
font-weight: solid;
}

.form1 input[type="button"]{
height: 30px; width:80px;	background-color: #ffffff;
border-radius: 1px;border: 2px solid black;	
}